/* Fondo general */
.react-calendar {
  border: none;
  border-radius: 12px;
  background: #1f1f1f;
  color: white;
  padding: 1rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.react-calendar__navigation__label button:hover{
  color: blue;
  background-color: #f6339a;
}

/* Días */
.react-calendar__tile {
  border-radius: 8px;
  padding: 0.75rem;
  transition: background 0.2s ease;
  background: #1f1f1f;
}

.react-calendar__tile--active:hover{
  background: #f6339a;
}

/* Día seleccionado */
.react-calendar__tile--active {
  background: #f6339a; 
  color: white;
  font-weight: bold;
}

/* Día deshabilitado */
.react-calendar__tile:disabled {
  background: #333;
  color: #777;
  cursor: not-allowed;
}
